allow cameraserver persist_camera_prop:file { read };
allow cameraserver persist_camera_prop:file { open };
allow cameraserver persist_camera_prop:file { getattr };
